In [1]:
# Que.Prepare a classification model using SVM for salary data

In [2]:
# SVM Classification
import pandas as pd
import numpy as np
from pandas import read_csv
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
import warnings
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [3]:
train=pd.read_csv("SalaryData_Train(1).csv")
train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
test=pd.read_csv("SalaryData_Test(1).csv")
test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [7]:
train1 = train.iloc[:,0:13]

train1 = pd.get_dummies(train1)
train1

,age,educationno,capitalgain,capitalloss,hoursperweek,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,39,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,13,0,0,13,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,38,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,7,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,13,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,12,0,0,38,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30157,40,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30158,58,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30159,22,9,0,0,20,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30160,52,9,15024,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
test1 = test.iloc[:,0:13]

test1 = pd.get_dummies(test1)
test1

,age,educationno,capitalgain,capitalloss,hoursperweek,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,25,7,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,50,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,12,0,0,40,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,10,7688,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,34,6,0,0,30,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,13,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15056,39,13,0,0,36,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15057,38,13,0,0,50,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15058,44,13,5455,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15059,35,13,0,0,60,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
# As columns are more in numbers ,will go with PCA method

In [10]:
#Scaling the data

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

sc.fit(train1)
train_norm=sc.transform(train1)
train_norm

array([[ 0.04277892,  1.12889813,  0.14608503, ...,  0.31081205,
        -0.04611353, -0.0230384 ],
       [ 0.88026081,  1.12889813, -0.14744712, ...,  0.31081205,
        -0.04611353, -0.0230384 ],
       [-0.0333558 , -0.4397325 , -0.14744712, ...,  0.31081205,
        -0.04611353, -0.0230384 ],
       ...,
       [ 1.48933854, -0.4397325 , -0.14744712, ...,  0.31081205,
        -0.04611353, -0.0230384 ],
       [-1.25151126, -0.4397325 , -0.14744712, ...,  0.31081205,
        -0.04611353, -0.0230384 ],
       [ 1.03253024, -0.4397325 ,  1.88108414, ...,  0.31081205,
        -0.04611353, -0.0230384 ]])

In [11]:
#Scaling the data

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

sc.fit(test1)
test_norm=sc.transform(test1)
test_norm

array([[-1.02900513, -1.2165628 , -0.14543845, ...,  0.30373366,
        -0.03554172, -0.02156441],
       [-0.05742253, -0.43489824, -0.14543845, ...,  0.30373366,
        -0.03554172, -0.02156441],
       [-0.80479376,  0.73759862, -0.14543845, ...,  0.30373366,
        -0.03554172, -0.02156441],
       ...,
       [-0.05742253,  1.1284309 , -0.14543845, ...,  0.30373366,
        -0.03554172, -0.02156441],
       [ 0.39100021,  1.1284309 ,  0.562734  , ...,  0.30373366,
        -0.03554172, -0.02156441],
       [-0.2816339 ,  1.1284309 , -0.14543845, ...,  0.30373366,
        -0.03554172, -0.02156441]])

In [12]:
from sklearn.decomposition import PCA

train_pca=PCA(n_components =102)
train_pca_values = train_pca.fit_transform(train_norm)
train_pca_values

array([[-5.50838008e-01, -2.38164986e+00, -5.91921169e-01, ...,
        -4.23371403e-16,  2.62345703e-15, -4.02802157e-16],
       [ 2.81915829e+00, -1.37085459e+00, -4.81126421e-02, ...,
         3.02949325e-15,  2.19944556e-15,  1.39481515e-15],
       [-7.93831525e-01,  8.71803957e-01, -1.20213150e+00, ...,
        -1.94002531e-14, -1.44622143e-14, -8.04192536e-16],
       ...,
       [-2.37835145e+00, -7.98690413e-01,  3.39105780e-01, ...,
        -4.76846858e-17,  5.25283002e-18,  1.15846254e-16],
       [-1.97547719e+00,  1.19305162e+00, -1.82899406e+00, ...,
        -4.79631520e-16, -1.21635811e-17,  3.17922719e-16],
       [ 7.62131786e-01, -1.77200870e+00,  5.36971989e-01, ...,
        -1.32417510e-17,  2.89334116e-16,  2.11794832e-16]])

In [13]:
from sklearn.decomposition import PCA

test_pca=PCA(n_components =102)
test_pca_values = test_pca.fit_transform(test_norm)
test_pca_values

array([[-2.24293780e+00,  2.60318091e+00, -3.27616503e-01, ...,
         2.60272531e-15, -7.63585220e-16,  3.77609631e-16],
       [ 2.22690391e+00,  1.59471521e+00, -7.32082794e-01, ...,
        -7.05993826e-15,  3.19138832e-15, -6.99397820e-16],
       [ 2.30704416e+00, -1.16883181e+00, -2.00521481e-01, ...,
        -2.04169792e-15, -1.31484936e-15, -1.15175474e-17],
       ...,
       [ 2.39583218e+00, -1.46859740e+00, -2.09424792e-01, ...,
        -6.43375475e-17,  2.00493055e-17,  1.21716972e-17],
       [-1.14039506e+00, -1.03678137e+00,  2.58079490e+00, ...,
         1.78899299e-16,  3.08836722e-16,  1.67408747e-16],
       [ 3.38445120e+00, -1.95481575e+00, -1.72791531e-01, ...,
         5.87842924e-17, -3.52957051e-18,  3.15259707e-18]])

In [14]:
# Selecting First 50 PCAs Out of n_components=102

In [15]:
finaltrain=pd.concat([pd.DataFrame(train_pca_values[:,0:50]),
                      train[['Salary']]],axis=1)
finaltrain

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Salary
0,-0.550838,-2.381650,-0.591921,1.433211,0.340516,1.940931,-0.055056,0.515267,-0.603118,-1.349744,...,-0.500833,0.000229,-0.478397,-0.140445,-0.368240,0.153476,0.064159,-0.092182,0.062902,<=50K
1,2.819158,-1.370855,-0.048113,0.060772,0.148609,0.494097,0.971070,0.977166,-1.058340,1.543212,...,-0.346462,-0.183431,0.013397,-0.089962,0.141668,0.015683,-0.025206,-0.058715,0.200226,<=50K
2,-0.793832,0.871804,-1.202131,-0.513685,0.452004,0.675599,-2.665003,0.041210,0.966047,-0.942719,...,0.110727,-0.200511,-0.218792,0.021861,0.243538,-0.119769,0.082177,0.117951,-0.104467,<=50K
3,0.732942,2.502494,0.763990,-0.149514,-3.056486,0.166519,0.140931,-2.430582,0.155941,1.066790,...,0.548188,-0.400984,-0.270641,0.222216,0.565466,-0.217059,0.091789,0.001209,-0.029217,<=50K
4,-1.070350,-1.638424,4.542395,0.260940,0.650488,-2.473710,2.483233,-2.795740,-0.249688,1.001833,...,-2.542295,-0.956168,0.422753,-4.813937,6.773716,-3.958377,-1.479112,-4.795532,2.528519,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,-0.766825,-1.596732,-0.037113,-0.576608,0.331904,-3.490439,2.320920,-0.117277,-0.388185,-1.112954,...,-0.297222,0.312869,0.617860,0.055907,0.012294,0.061646,-0.136437,0.188010,-0.088872,<=50K
30157,1.704432,1.785328,-0.594925,-0.692498,-0.411458,-1.251061,-0.505186,-0.513443,1.286209,-0.530841,...,-0.024687,-0.139348,-0.049032,0.088819,0.031464,0.008808,0.010592,0.005008,0.038528,>50K
30158,-2.378351,-0.798690,0.339106,-4.067833,0.281604,-1.215646,-0.253538,1.090962,0.960431,0.065679,...,0.742695,-0.119753,0.174147,0.198657,-0.266542,0.014315,0.076696,0.016397,-0.091986,<=50K
30159,-1.975477,1.193052,-1.828994,1.598638,-0.633416,-0.187607,0.789310,0.860548,0.808205,-0.906124,...,-0.174008,-0.266025,-0.033845,-0.031094,-0.078163,0.064803,-0.047746,-0.001459,0.048744,<=50K
30160,0.762132,-1.772009,0.536972,-2.417460,0.352371,-1.720856,2.466035,1.201089,0.049580,2.336657,...,-0.656942,0.122782,0.272452,-0.097340,-0.009311,0.036962,0.097332,-0.024932,0.029361,>50K

In [16]:
finaltest=pd.concat([pd.DataFrame(train_pca_values[:,0:50]),
                      test[['Salary']]],axis=1)
finaltest

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Salary
0,-0.550838,-2.381650,-0.591921,1.433211,0.340516,1.940931,-0.055056,0.515267,-0.603118,-1.349744,...,-0.500833,0.000229,-0.478397,-0.140445,-0.368240,0.153476,0.064159,-0.092182,0.062902,<=50K
1,2.819158,-1.370855,-0.048113,0.060772,0.148609,0.494097,0.971070,0.977166,-1.058340,1.543212,...,-0.346462,-0.183431,0.013397,-0.089962,0.141668,0.015683,-0.025206,-0.058715,0.200226,<=50K
2,-0.793832,0.871804,-1.202131,-0.513685,0.452004,0.675599,-2.665003,0.041210,0.966047,-0.942719,...,0.110727,-0.200511,-0.218792,0.021861,0.243538,-0.119769,0.082177,0.117951,-0.104467,>50K
3,0.732942,2.502494,0.763990,-0.149514,-3.056486,0.166519,0.140931,-2.430582,0.155941,1.066790,...,0.548188,-0.400984,-0.270641,0.222216,0.565466,-0.217059,0.091789,0.001209,-0.029217,>50K
4,-1.070350,-1.638424,4.542395,0.260940,0.650488,-2.473710,2.483233,-2.795740,-0.249688,1.001833,...,-2.542295,-0.956168,0.422753,-4.813937,6.773716,-3.958377,-1.479112,-4.795532,2.528519,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,-0.766825,-1.596732,-0.037113,-0.576608,0.331904,-3.490439,2.320920,-0.117277,-0.388185,-1.112954,...,-0.297222,0.312869,0.617860,0.055907,0.012294,0.061646,-0.136437,0.188010,-0.088872,NaN
30157,1.704432,1.785328,-0.594925,-0.692498,-0.411458,-1.251061,-0.505186,-0.513443,1.286209,-0.530841,...,-0.024687,-0.139348,-0.049032,0.088819,0.031464,0.008808,0.010592,0.005008,0.038528,NaN
30158,-2.378351,-0.798690,0.339106,-4.067833,0.281604,-1.215646,-0.253538,1.090962,0.960431,0.065679,...,0.742695,-0.119753,0.174147,0.198657,-0.266542,0.014315,0.076696,0.016397,-0.091986,NaN
30159,-1.975477,1.193052,-1.828994,1.598638,-0.633416,-0.187607,0.789310,0.860548,0.808205,-0.906124,...,-0.174008,-0.266025,-0.033845,-0.031094,-0.078163,0.064803,-0.047746,-0.001459,0.048744,NaN
30160,0.762132,-1.772009,0.536972,-2.417460,0.352371,-1.720856,2.466035,1.201089,0.049580,2.336657,...,-0.656942,0.122782,0.272452,-0.097340,-0.009311,0.036962,0.097332,-0.024932,0.029361,NaN

In [17]:
# Since Training data is in huge numbers ,will select first 500 rows

In [18]:
array=finaltrain.values
X=array[0:500,0:50]
Y=array[0:500,50]

In [19]:
# SVC Classification

In [20]:
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

clf=SVC()

param_grid= [ {'kernel': ['rbf'],'gamma':[0.9,0.5,0.1],'C':[1,10,100]},
            {'kernel': ['linear'],'C':[1,10,100]}]

gsv = GridSearchCV(clf,param_grid,cv=10,n_jobs=-1)
gsv.fit(X,Y)

gsv.best_params_ , gsv.best_score_

({'C': 10, 'kernel': 'linear'}, 0.8260000000000002)

In [21]:
# Since Testing Data is huge,will select first 500 rows

In [22]:
x = finaltest.values[0:500,0:50]
y = finaltest.values[0:500,50]

In [23]:
clf= SVC(C=10,kernel='linear')
clf.fit(x,y)
results = clf.score(x,y)
print(np.round(results,4))

0.766

In [24]:
clf= SVC(C=10,kernel='rbf')
clf.fit(x,y)
results = clf.score(x,y)
print(np.round(results,4))

0.876

In [25]:
clf= SVC(C=10,kernel='poly')
clf.fit(x,y)
results = clf.score(x,y)
print(np.round(results,4))

0.846

In [26]:
# Now apply Some Ensemble Methods

In [27]:
#1.Bagging

In [28]:
# Bagged Decision Trees for Classification

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

seed = 7
cart = DecisionTreeClassifier()
num_trees = 100
model = BaggingClassifier(base_estimator=cart, n_estimators=num_trees, random_state=None)
model.fit(x,y)
results = model.score(x,y)
print(np.round(results, 4))

0.998

In [29]:
# 2.Random Forest

from sklearn.ensemble import RandomForestClassifier

num_trees = 100
max_features = 3
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
model.fit(x,y)
results = model.score(x,y)
print(np.round(results, 4))

0.998

In [30]:
# 3.Boosting

from sklearn.ensemble import AdaBoostClassifier
num_trees = 100
seed=7

model = AdaBoostClassifier(n_estimators=num_trees, random_state=seed)
model.fit(x,y)
results = model.score(x,y)
print(np.round(results, 4))

0.942

In [31]:
# 4.Staking

from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier


# create the sub models
estimators = []
model1 = LogisticRegression(max_iter=500)
estimators.append(('logistic', model))
model2 = DecisionTreeClassifier()
estimators.append(('cart', model))
model3 = SVC()
estimators.append(('svm', model))

# create the ensemble model
ensemble = VotingClassifier(estimators)
ensemble.fit(x,y)
results = ensemble.score(x,y)
print(np.round(results, 4))

0.942

In [32]:
# By analyzing the above stated results Bagging  or Random Forest
# can be used for best prediction model for this dataset